# PostgreSQL Configuration
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<DB-name>
DATABASE_URL=<DB-url>

# Optional: for backend local development (without Docker)
# DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/DB-name

# JWT & Security
JWT_SECRET=<local-dev-secret-min-32-characters-long-change-this>
TOKEN_ENCRYPTION_KEY=<token-encryption-key>

# OAuth Providers (get from team lead)
GOOGLE_CLIENT_ID=<ekip lideri sağlar>
GOOGLE_CLIENT_SECRET=<ekip lideri sağlar>
LINKEDIN_CLIENT_ID=<ekip lideri sağlar>
LINKEDIN_CLIENT_SECRET=<ekip lideri sağlar>

GITHUB_CLIENT_ID_DEV=<ekip lideri sağlar>
GITHUB_CLIENT_SECRET_DEV=<ekip lideri sağlar>
GITHUB_CLIENT_ID_STG=<ekip lideri sağlar>
GITHUB_CLIENT_SECRET_STG=<ekip lideri sağlar>
GITHUB_CLIENT_ID_PROD=<ekip lideri sağlar>
GITHUB_CLIENT_SECRET_PROD=<ekip lideri sağlar>

# Environment
ENVIRONMENT=development/staging/production
BACKEND_INTERNAL_URL=http://backend:8080
BACKEND_PUBLIC_URL=http://localhost:8000
FRONTEND_PUBLIC_URL=http://localhost:3000
